/* Custom CSS for the search bar */
.navbar {
  padding: 0px 0;
}


.search-bar {
    position: relative;
    width: 300px;
  }

  .search-bar input[type="search"] {
    padding-right: 32px; /* Leave space for the search icon */
  }

  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure the icon does not interfere with input focus */
  }

  .btn-custom-width {
    width: 100px; /* Adjust the width as per your requirement */
  }
  
  .custom-width{
    margin-right: 20px
  }

  .text-bold{
    font-weight: bold;
  }

  /* Custom sticky header style */
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 999;
  }

  
