<!-- Bootstrap Header -->
<header class="navbar navbar-expand-lg navbar-light bg-primary sticky-top">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand " href="#">
      <img src="assets/images/angular.png" alt="Logo" width="60" height="60">
    </a>

    <!-- Search bar with search icon -->
    <div class="search-bar ms-2 custom-width">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <i class="fas fa-search search-icon"></i>
    </div>

    <!-- Toggler for mobile menu -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav mb-2 mb-lg-0 custom-width">
        <li class="nav-item">
          <a class="nav-link text-bold text-white custom-width" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-bold text-white custom-width" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-bold text-white custom-width" href="#">Contact Us</a>
        </li>
      </ul>

      <!-- Login Button -->
      <a href="#" class="btn btn-light text-bold btn-custom-width custom-width  ms-2 ">
        <i class="fas fa-user  text-bold"></i>   Login
      </a>

      <!-- Wishlist Icon -->
      <button class="btn btn-primary">
        <i class="fas fa-heart add-to-cart-icon text-bold"></i> Wishlist
      </button>


      <!-- Add to Cart Icon -->
      <button class="btn btn-primary">
        <i class="fas fa-shopping-cart add-to-cart-icon text-bold"></i> Add to Cart
      </button>

    </div>
  </div>

</header>


<!-- Jumbotron -->
<div class="bg-primary text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="container py-5">
          <h1>
            Best products & <br />
            brands in our store
          </h1>
          <p>
            Trendy Products, Factory Prices, Excellent Service
          </p>
          <button type="button" class="btn btn-outline-light custom-width">
            Learn more
          </button>
          <button type="button" class="btn btn-light shadow-0 text-primary pt-2 border border-white">
            <span class="pt-1"> Purchase now</span>
          </button>
        </div>

      </div>
      <div class="col">
        <img src="../../assets//images//technology-website-under-construction-wallpaper-preview.jpg" class="banner-img">
      </div>
    </div>

  </div>

</div>
<!-- Jumbotron -->