/* Custom CSS for the search bar */
.navbar {
  padding: 0px 0;
}


.search-bar {
  position: relative;
  width: 280px;
}

.search-bar input[type="search"] {
  padding-right: 32px;
  /* Leave space for the search icon */
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  /* Ensure the icon does not interfere with input focus */
}

.btn-custom-width {
  width: 120px;
  /* Adjust the width as per your requirement */
}

.custom-width {
  margin-right: 20px
}

.text-bold {
  font-weight: bold;
}

/* Custom sticky header style */
.sticky-top {
  position: sticky;
  top: 0;
  z-index: 999;
}

//Responsive

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .banner-img {
    height: 300px;
    width: 460px;
  }
}

@media only screen and (min-width: 600px) {
    /* For Tabs: */
    .banner-img {
      height: 300px;
      width: 510px;
    }
}

@media only screen and (min-width: 768px) {
   /* For Laptop: */
   .banner-img {
  height: 300px;
  width: 700px;
}
}