
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <!-- Company logo -->
          <img src="../../assets/images/angular.png" alt="Company Logo" class="logo">
        </div>
        <div class="col-md-3">
          <h4>Links</h4>
          <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Help Center</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Contact Information</h4>
          <ul class="contact-list">
            <li>Email: info@company.com</li>
            <li>Phone: +91- 7979005900</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Address</h4>
          <p>Flipkart Internet Private Limited,

            Buildings Alyssa, Begonia &
            
            Clove Embassy Tech Village,
            
            Outer Ring Road, Devarabeesanahalli Village,
            
            Bengaluru, 560103,
            
            Karnataka, India</p>
        </div>
      </div>
      <!-- Single row for credit cards and social links -->
      <div class="row align-items-center">
        <div class="col-md-6">
          <h4>Accepted Credit Cards</h4>
          <img src="../../assets/images/1.png" alt="Credit Card 1" class="credit-card">
          <img src="../../assets/images/2.png" alt="Credit Card 2" class="credit-card">
          <img src="../../assets/images/3.png" alt="Credit Card 3" class="credit-card">
          <img src="../../assets/images/4.png" alt="Credit Card 4" class="credit-card">
          <img src="../../assets/images/5.png" alt="Credit Card 5" class="credit-card">
          <!-- Add more credit card images if needed -->
        </div>
        <div class="col-md-6">
          <h4>Follow Us</h4>
          <ul class="social-links">
            <li><a href="#" target="_blank"><img src="../../assets/images/facebook-icon.png" alt="Facebook"></a></li>
            <li><a href="#" target="_blank"><img src="../../assets/images/linkedin.png" alt="Linkedin"></a></li>
            <li><a href="#" target="_blank"><img src="../../assets/images/twitter.png" alt="Twiteer"></a></li>
            <li><a href="#" target="_blank"><img src="../../assets/images/insta.png" alt="Instagram"></a></li>
            <!-- Add more social media links and icons as needed -->
          </ul>
        </div>
      </div>
    </div>
  </footer>

