<section>
    <div class="container my-5">
      <header class="mb-4 text-center rainbow-underline ">
        <h3>New Products</h3>
      </header>
  
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 d-flex" *ngFor="let item of ProductArr">
          <div class="card w-100 my-2 shadow-2-strong" >
            <div (click)="goToProductDetails(item.productId)">
            <img src="{{item.productImage1}}" class="card-img-top" style="aspect-ratio: 1 / 1" />
          </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title text-dark" (click)="goToProductDetails(item.productId)">{{item.productName}}</h5>
              <h6 class="card-text">{{item.productDesc}}</h6>
              <p class="card-text"><strong>${{item.productPrice}}</strong></p>
              <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Products -->
  
  
  
  
  
  
        <!-- <img src="../../assets/home12-category-banner2.jpg" alt="Image 1">
        <img src="../../assets/home8-jewelry-banner1.jpg" alt="Image 2">
        <img src="../../assets/home8-jewelry-banner2.jpg" alt="Image 3"> -->
   <!-- Feature -->



<!-- Feature -->
<section class="">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="card-banner bg-gray h-100" style="
                                                      min-height: 200px;
                                                      background-size: cover;
                                                      background-position: center;
                                                      width: 100%;
                                                      background-repeat: no-repeat;
                                                      top: 50%;
                                                      background-image: url('https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/banners/banner-item2.webp');">
          <div class="p-3 p-lg-5" style="max-width: 70%;">
            <h3 class="text-dark">Best products & brands in our store at 80% off</h3>
            <p>That's true but not always</p>
            <button class="btn btn-warning shadow-0" href="#"> Claim offer </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row mb-3 mb-sm-4 g-3 g-sm-4">
          <div class="col-6 d-flex">
            <div class="card w-100 bg-primary" style="min-height: 200px;">
              <div class="card-body">
                <h5 class="text-white">Gaming toolset</h5>
                <p class="text-white-50">Technology for cyber sport</p>
                <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-6 d-flex">
            <div class="card w-100 bg-primary" style="min-height: 200px;">
              <div class="card-body">
                <h5 class="text-white">Quality sound</h5>
                <p class="text-white-50">All you need for music</p>
                <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <!-- row.// -->

        <div class="card bg-success" style="min-height: 200px;">
          <div class="card-body">
            <h5 class="text-white">Buy 2 items, With special gift</h5>
            <p class="text-white-50" style="max-width: 400px;">Buy one, get one free marketing strategy helps your business improves the brand by sharing the profits</p>
            <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </div>
  <!-- container end.// -->
</section>
<!-- Feature -->

<!-- Recently viewed -->
<section class="mt-5 mb-4">
  <div class="container text-dark">
    <header class="">
      <h3 class="section-title">Recently viewed</h3>
    </header>

    <div class="row gy-3">
      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/1.webp" />
        </a>
      </div>
      <!-- col.// -->
      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/2.webp" />
        </a>
      </div>
      <!-- col.// -->
      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/3.webp" />
        </a>
      </div>
      <!-- col.// -->
      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/4.webp" />
        </a>
      </div>
      <!-- col.// -->
      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/5.webp" />
        </a>
      </div>
      <!-- col.// -->
      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/6.webp" />
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Recently viewed -->

<section>
  <div class="container">
    <div class="px-4 pt-3 border">
      <div class="row pt-1">
        <div class="col-lg-3 col-md-6 mb-3 d-flex">
          <div class="d-flex align-items-center">
            <div class="badge badge-warning p-2 rounded-4 me-3">
              <i class="fas fa-thumbs-up fa-2x fa-fw"></i>
            </div>
            <span class="info">
              <h6 class="title">Reasonable prices</h6>
              <p class="mb-0">Have you ever finally just</p>
            </span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-3 d-flex">
          <div class="d-flex align-items-center">
            <div class="badge badge-warning p-2 rounded-4 me-3">
              <i class="fas fa-plane fa-2x fa-fw"></i>
            </div>
            <span class="info">
              <h6 class="title">Worldwide shipping</h6>
              <p class="mb-0">Have you ever finally just</p>
            </span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-3 d-flex">
          <div class="d-flex align-items-center">
            <div class="badge badge-warning p-2 rounded-4 me-3">
              <i class="fas fa-star fa-2x fa-fw"></i>
            </div>
            <span class="info">
              <h6 class="title">Best ratings</h6>
              <p class="mb-0">Have you ever finally just</p>
            </span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-3 d-flex">
          <div class="d-flex align-items-center">
            <div class="badge badge-warning p-2 rounded-4 me-3">
              <i class="fas fa-phone-alt fa-2x fa-fw"></i>
            </div>
            <span class="info">
              <h6 class="title">Help center</h6>
              <p class="mb-0">Have you ever finally just</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



  <section class="mt-5" style="background-color: #f5f5f5;">
    <div class="container text-dark pt-3">
      <header class="pt-4 text-center rainbow-underline pb-3">
        <h3>Why choose us</h3>
      </header>
  
      <div class="row mb-4">
        <div class="col-lg-4 col-md-6">
          <figure class="d-flex align-items-center mb-4">
            <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
              <i class="fas fa-camera-retro fa-2x fa-fw text-primary floating"></i>
            </span>
            <figcaption class="info">
              <h6 class="title">Reasonable prices</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
            </figcaption>
          </figure>
          <!-- itemside // -->
        </div>
  
    <!-- col // -->
    <div class="col-lg-4 col-md-6">
      <figure class="d-flex align-items-center mb-4">
        <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
          <i class="fas fa-star fa-2x fa-fw text-primary floating"></i>
        </span>
        <figcaption class="info">
          <h6 class="title">Best quality</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
        </figcaption>
      </figure>
      <!-- itemside // -->
    </div>
    <!-- col // -->
    <div class="col-lg-4 col-md-6">
      <figure class="d-flex align-items-center mb-4">
        <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
          <i class="fas fa-plane fa-2x fa-fw text-primary floating"></i>
        </span>
        <figcaption class="info">
          <h6 class="title">Worldwide shipping</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
        </figcaption>
      </figure>
      <!-- itemside // -->
    </div>
    <!-- col // -->
    <div class="col-lg-4 col-md-6">
      <figure class="d-flex align-items-center mb-4">
        <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
          <i class="fas fa-users fa-2x fa-fw text-primary floating"></i>
        </span>
        <figcaption class="info">
          <h6 class="title">Customer satisfaction</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
        </figcaption>
      </figure>
      <!-- itemside // -->
    </div>
    <!-- col // -->
    <div class="col-lg-4 col-md-6">
      <figure class="d-flex align-items-center mb-4">
        <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
          <i class="fas fa-thumbs-up fa-2x fa-fw text-primary floating"></i>
        </span>
        <figcaption class="info">
          <h6 class="title">Happy customers</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
        </figcaption>
      </figure>
      <!-- itemside // -->
    </div>
    <!-- col // -->
    <div class="col-lg-4 col-md-6">
      <figure class="d-flex align-items-center mb-4">
        <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
          <i class="fas fa-box fa-2x fa-fw text-primary floating"></i>
        </span>
        <figcaption class="info">
          <h6 class="title">Thousand items</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor</p>
        </figcaption>
      </figure>
      <!-- itemside // -->
    </div>
    <!-- col // -->
  </div>
  </div>
  <!-- container end.// -->
  </section>
  <!-- Feature -->
  
  <main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <!-- <section class="text-center">
        <h4 class="mb-5"><strong>Latest posts</strong></h4>

        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a href="#!" class="btn btn-primary">Read</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a href="#!" class="btn btn-primary">Read</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/002.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a href="#!" class="btn btn-primary">Read</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/022.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a href="#!" class="btn btn-primary">Read</a>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!--Section: Content-->
    </div>
  </main>
  <!-- Blog -->
  <section class="mt-5 mb-4">
  <div class="container text-dark">
  <header class="mb-4 text-center rainbow-underline">
    <h3>Blog Posts</h3>
  </header>
  
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <article>
        <a href="#" class="img-fluid">
          <img class="rounded w-100" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/posts/1.webp" style="object-fit: cover;" height="160" />
        </a>
        <div class="mt-2 text-muted small d-block mb-1">
          <span>
            <i class="fa fa-calendar-alt fa-sm"></i>
            23.12.2022
          </span>
          <a href="#"><h6 class="text-dark">How to promote brands</h6></a>
          <p>When you enter into any new area of science, you almost reach</p>
        </div>
      </article>
    </div>
    <!-- col.// -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <article>
        <a href="#" class="img-fluid">
          <img class="rounded w-100" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/posts/2.webp" style="object-fit: cover;" height="160" />
        </a>
        <div class="mt-2 text-muted small d-block mb-1">
          <span>
            <i class="fa fa-calendar-alt fa-sm"></i>
            13.12.2022
          </span>
          <a href="#"><h6 class="text-dark">How we handle shipping</h6></a>
          <p>When you enter into any new area of science, you almost reach</p>
        </div>
      </article>
    </div>
    <!-- col.// -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <article>
        <a href="#" class="img-fluid">
          <img class="rounded w-100" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/posts/3.webp" style="object-fit: cover;" height="160" />
        </a>
        <div class="mt-2 text-muted small d-block mb-1">
          <span>
            <i class="fa fa-calendar-alt fa-sm"></i>
            25.11.2022
          </span>
          <a href="#"><h6 class="text-dark">How to promote brands</h6></a>
          <p>When you enter into any new area of science, you almost reach</p>
        </div>
      </article>
    </div>
    <!-- col.// -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <article>
        <a href="#" class="img-fluid">
          <img class="rounded w-100" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/posts/4.webp" style="object-fit: cover;" height="160" />
        </a>
        <div class="mt-2 text-muted small d-block mb-1">
          <span>
            <i class="fa fa-calendar-alt fa-sm"></i>
            03.09.2022
          </span>
          <a href="#"><h6 class="text-dark">Success story of sellers</h6></a>
          <p>When you enter into any new area of science, you almost reach</p>
        </div>
      </article>
    </div>
  </div>
  </div>
  </section>
  <!-- Blog -->